@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #041322; /* Black Pearl */
  --color-secondary: #163531; /* Gable Green */
  --color-accent: #13dae9; /* Glossy Cyan */
  --color-accent-soft: #84e9ec; /* Aqua Blast */

  --color-background: #f4fafc; /* Cool light background */
  --color-surface: #ffffff; /* Card background */

  --color-text: #161928; /* Mirage dark text */
  --color-text-muted: #64748b; /* Muted text */

  --color-border: #e3e9f0; /* Sparkling Silver */
  --color-success: #10b981;

  /* Typography */
  --font-heading: var(--font-sora), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}
